<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-bullhorn"></i> <strong>Avaliações<strong/>
                </li>
            </ol>
        </div>

        
        <div class="col-xs-12">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-fw fa-calendar"></i>
                            <span><big>Avaliações</big></span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <div ng-repeat="avaliacao in avaliacoes">
                                <a href="#/bar/{{avaliacao.codbar}}" class="list-group-item"><span class="badge" >{{avaliacao.data}}  |  <rating ng-model="avaliacao.qualidade" max="max" readonly="isReadonly"></rating> |  <rating ng-model="avaliacao.preco" readonly="isReadonly" max="3" state-on="'glyphicon-usd'" state-off="'fa fa-strikethrough'"></rating></span><b>{{avaliacao.nomebar}}</b> - {{avaliacao.comentario}} 


                                </a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<script>
    jQuery(function ($) {
        $("#date").mask("99/99/9999");
    });
</script>