<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-fw fa-envelope"></i> <strong>Mensagens<strong/>
                    </li>
            </ol>
        </div>


        <div class="col-lg-12 col-md-12">
            <div ng-show="isCliente === false" class="panel panel-default" style="padding:5px">
                <div class="panel-heading">
                    <div class="panel-title">
                        Enviar Mensagem
                    </div>
                </div>
                <div class="col-xs-12">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                </div>
                <form class="form-horizontal" role="form" ng-submit="criarlancamentos()">
                    <div class="col-xs-12" style="padding:10px">
                        <div class="col-md-6">
                            <label>Assunto: *</label>
                            <input id="cpf" name="cpf" type="text" class="form-control form-group" placeholder="CPF ou ID do Cliente" ng-model="lancamento.cpf" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Cliente: *</label>
                            <select class="form-control" ng-model="listaClientes" required>
                                <option value="">Selecione</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Mensagem: *</label>
                            <textarea id="mensagem" cols="5" name="mensagem" type="text" class="form-control form-group" placeholder="Digite a mensagem aqui" ng-model="mensagem" min="11" required></textarea>
                        </div>
                        
                        

                       
                        <div class="clearfix"></div>
                        <div class="form-group pull-right" style="padding-right:2%">

                            <button type="submit" class="btn btn-warning"> <span>Salvar lancamento</span> </button>
                        </div>
                    </div>
                    
                </form>
                <div class="clearfix"></div>

            </div>

            <div class="panel panel-default" style="padding:5px">
                <div class="panel-heading">
                    <div class="panel-title">
                        Meus lancamentos
                    </div>
                </div>
                <div class="col-xs-12 col-md-12" style="padding:10px">

                    <div ng-repeat="lancamento in lancamentos">
                        <div class="col-lg-12 col-md-12">

                        </div>
                    </div>


                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
</div>
<script>
    jQuery(function ($) {
        $('#money').mask("#.##0,00", {reverse: true});
        $('#cpf').mask('000.000.000-00', {reverse: true});
    });
</script>