<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-bullhorn"></i> <strong>Promoções<strong/>
                    </li>
            </ol>
        </div>


        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default" style="padding:5px">
                <div class="panel-heading">
                    <div class="panel-title">
                        Lista de bares encontrados
                    </div>
                </div>
                <table ng-show="bares.length > 0" style="width:100%"  class="table table-hover">
                    <thead>
                        <tr>
                            <th><h4>Nome do bar</h4></th>
                            <th><h4>Descrição</h4></th>
                            <th><h4>Localização</h4></th>
                            <th><h4>Avaliacao</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bar in bares" >
                            <td><a ng-href="#/bar/{{bar.codbar}}">{{bar.nomefantasia}}</a></td>
                            <td>{{bar.descricao}}</td>
                            <td>{{bar.endereco}}</td>
                            <td> <rating ng-model="bar.mediaqualidade" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                                <div class="clearfix"></div>
                                <rating ng-model="bar.mediapreco" readonly="isReadonly" max="3" state-on="'glyphicon-usd'" state-off="'fa fa-strikethrough'"></rating></td>
                        </tr>
                    </tbody>

                </table> 
                <div style="align:right" ng-show="bares.length == 0"> <h2 >Nenhum bar foi encontrado com esse nome!</h2></div>
            </div>


            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>
    </div>

</div>
<!-- /#page-wrapper -->

</div>
</div>