<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> <strong>Dashboard</strong>
                </li>
            </ol>
        </div>


        <div ng-show="isCliente === false" ng-cloak>
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <big>{{bar.nomefantasia}}</big>
                        </div>
                        <div class="panel-title" align="center">
                            <button class="btn btn-danger" ng-show="isReadOnly" ng-click="rate = 0" style="padding:3px 8px;border-radius:50px" ng-disabled="isReadonly"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                            <div class="clearfix"></div>
                            <rating ng-model="x" readonly="isReadonly" max="3" state-on="'glyphicon-usd'" state-off="'fa fa-strikethrough'"></rating>
                        </div>
                        <div align="center">
                        <div> {{bar.descricao}}</div>
                        <div> {{bar.endereco}}</div>
                        <div> {{bar.observacao}}</div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- end of eventos -->

            <div class="col-xs-12">
            <div class="col-lg-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-book fa-lg"></i>
                            <span><big>Cardápio do dia</big></span>
                        </div>
                    </div>
                    <div style="padding:10px;white-space: pre-line;margin-left:2%">
                        <b> {{cardapio.descricao}}</b>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>

            </div>
            <!-- end of cardapio -->


                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-fw fa-calendar"></i>
                                <span><big>Promoções</big></span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div ng-repeat="promocao in promocoes">
                                    <a class="list-group-item"><span class="badge" >{{promocao.datainicio}} <div> {{promocao.datafim}}</div></span>{{promocao.nome}} </a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            <!-- end of promocao -->

            <div class="col-lg-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-fw fa-calendar"></i>
                            <span><big>Eventos</big></span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <div ng-repeat="evento in eventos">
                                <a class="list-group-item"><span class="badge" >{{evento.data}}</span>{{evento.nome}} </a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            </div>
            <!-- end of Comentários -->

            <div class="col-xs-12">


            <div class="col-lg-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span><big>Últimos Lançamentos</big></span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <div ng-repeat="lancamento in lancamentos | limitTo:6">
                            <a class="list-group-item">
                                <span class="badge">{{lancamento.data}}</span>
                                <i class="fa fa-fw fa-barcode"></i> {{lancamento.nomefuncionario}} - {{lancamento.nomecliente}} : {{lancamento.valor}}
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>


        <!-- CLIENTE COMEÇA AQ -->


        <div ng-show="isCliente" ng-cloak>
            <div class="col-lg-12 col-md-12" ng-controller="RatingCtrl">
              <!--  <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <big>Pontuação: {{usuario.saldopts}}</big> 
                            <big class="pull-right">Código Desconto: {{usuario.saldopts}}</big> 
                        </div>
                        <div class="panel-title" align="center">

                        </div>
                    </div>
                </div>-->

            </div>

            <div class="col-xs-12">
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-fw fa-calendar"></i>
                                <span><big>Promocoes</big></span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div ng-repeat="promocao in promocoesCliente | limitTo:6">
                                    <a href="#/bar/{{promocao.codbar}}" class="list-group-item"><span class="badge" >{{promocao.datainicio}} <div> {{promocao.datafim}}</div></span><b>{{promocao.nome}}</b> - {{promocao.descricao}} </a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-fw fa-calendar"></i>
                                <span><big>Eventos</big></span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div ng-repeat="evento in eventos">
                                    <a href="#/bar/{{evento.codbar}}" class="list-group-item"><span class="badge" >{{evento.data}}</span>{{evento.nome}} </a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <!-- end of Comentários -->
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-fw fa-envelope"></i>
                                <span><big>Mensagens</big></span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div ng-repeat="mensagem in mensagens">
                                    <a class="list-group-item">{{mensagem.assunto}} <span ng-class="{'label label-success pull-right' : !mensagem.label , 'glyphicon glyphicon-ok pull-right' : mensagem.label}" > {{mensagem.lida | novo}} </span></a>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- end of mensagens -->

            <div class="col-xs-12">
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-fw fa-envelope"></i>
                                <span><big>Bares Favoritos</big></span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div ng-repeat="favorito in favoritos">
                                <a href="#/bar/{{favorito.codbar}}" class="list-group-item">{{favorito.nomefantasia}}</a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>