    <div class="nav-side-menu">
        <div  style= "padding-bottom:10px; padding-top:5px" class="brand"> <img src="imgs/logo.fw.png" width="90px" height="118px" > 
        </div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li ng-class="{'active' : isSet(0)}" ng-click="setPage(0)">
                    <a href="#/dashboard">
                        <i class="fa fa-dashboard fa-lg"></i> Dashboard
                    </a>
                </li>
                
                <li  ng-class="{'active' : isSet(1)}" ng-click="setPage(1)">
                    <a href="#/cardapios">
                        <i class="fa fa-book fa-lg"></i> Cardápio
                    </a>
                </li>
                <li  ng-class="{'active' : isSet(2)}" ng-click="setPage(2)">
                    <a href="#/estatisticas">
                        <i class="fa fa-bar-chart fa-lg"></i> Estatística
                    </a>
                </li>
                <li  ng-class="{'active' : isSet(3)}" ng-click="setPage(3)">
                    <a href="#/perfil">
                        <i class="fa fa-user fa-lg"></i> Perfil
                    </a>
                </li>
                  <li  ng-class="{'active' : isSet(4)}" ng-click="setPage(4)">
                    <a href="#/eventos">
                        <i class="fa fa-fw fa-calendar"></i> Eventos
                    </a>
                </li>
                 <li  ng-class="{'active' : isSet(5)}" ng-click="setPage(5)">
                    <a href="#/promocoes">
                        <i class="fa fa-bullhorn"></i> Promoções
                    </a>
                </li>
              <!--  <li data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a href="#">
                        <i class="fa fa-gift fa-lg"></i> UI Elements


                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active">
                        <a href="#">CSS3 Animation</a>
                    </li>
                    <li>
                        <a href="#">General</a>
                    </li>
                    <li>
                        <a href="#">Buttons</a>
                    </li>
                    <li>
                        <a href="#">Tabs & Accordions</a>
                    </li>
                    <li>
                        <a href="#">Typography</a>
                    </li>
                    <li>
                        <a href="#">FontAwesome</a>
                    </li>
                    <li>
                        <a href="#">Slider</a>
                    </li>
                    <li>
                        <a href="#">Panels</a>
                    </li>
                    <li>
                        <a href="#">Widgets</a>
                    </li>
                    <li>
                        <a href="#">Bootstrap Model</a>
                    </li>
                </ul>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#">
                        <i class="fa fa-globe fa-lg"></i> Services


                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="service">
                    <li>New Service 1</li>
                    <li>New Service 2</li>
                    <li>New Service 3</li>
                </ul>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#">
                        <i class="fa fa-car fa-lg"></i> New


                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="new">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                </ul>
                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Profile



                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users fa-lg"></i> Users



                    </a>
                </li>-->
            </ul>
        </div>
    </div>
