<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyBeer - Tudo sobre o seu bar em um só lugar!!!</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- DatePicker Css -->
    <link href="css/datepicker3.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="app">

    <div id="wrapper">

        <!-- Navigation -->
        <div ng-include="'navegation.html'"></div>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            nomeEmpresa, <small>Seja bem-vindo 'nomeUser'</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- /.row -->				
				<div class="row">
				 <div class="col-lg-12 col-md-12" ng-controller="RatingCtrl">
                    <div class="panel panel-default" style="padding:5px">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <big>Nome da empresa</big>
								 </div>
							<div class="panel-title" align="center">
                                <button  class="btn btn-danger" ng-show="isReadOnly" ng-click="rate = 0" style="padding:3px 8px;border-radius:50px" ng-disabled="isReadonly"><span class="glyphicon glyphicon-remove"></span>
                                        </button>
								 <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
								<div class="clearfix"></div>
								 <rating ng-model="x" max="3" state-on="'glyphicon-usd'" state-off="'glyphicon-usd'"></rating>
                            </div>
                        </div>
                    </div>

                </div>
					</div>
                <!-- end of eventos -->

                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default" style="padding:5px">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <!--                                <i class="fa fa-fw fa-calendar"></i>-->
                                <span><big>Cardapio do dia</big></span>
                            </div>
                        </div>
                        <div style="padding:10px">
                            <ul>
                                <li>ARROZ</li>
                                <li>ARROZ</li>
								 <li>ARROZ</li>
                                <li>ARROZ</li>
								 <li>ARROZ</li>
                                <li>ARROZ</li>
								
                            </ul>
                            <div class="clearfix">
                                <div class="pull-right">
                                    <button class="btn btn-success" title="Editar"><span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button class="btn btn-success" title="Vizualizar"><span class="glyphicon glyphicon-zoom-in"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end of cardapio -->


                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default" style="padding:5px">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <!--                                <i class="fa fa-fw fa-calendar"></i>-->
                                <span><big>Promoção</big></span>
                            </div>
                        </div>
                        <div style="padding:10px">
                            <ul>
                                <li>Compra 1 leva 2</li>
                                <li>10% de desconto</li>
                            </ul>
                            <div class="clearfix">
                                <div class="pull-right">
                                    <button class="btn btn-success" title="Editar"><span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button class="btn btn-success" title="Vizualizar"><span class="glyphicon glyphicon-zoom-in"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end of promocao -->

             	<div class="col-lg-4 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-fw fa-comment"></i>
                                <span><big>Eventos</big></span>
                            </div>
                        </div>
                        <div class="panel-body">
						<div class="list-group">
							<a href="#" class="list-group-item"><span class="badge" >23/05/2015</span>Quinta do Sertanejo </a>
							<a href="#" class="list-group-item"><span class="badge" >24/05/2015</span>Sexta do Rock </a>
							<a href="#" class="list-group-item"><span class="badge" >25/05/2015</span>Sabado - Show das Poderosas</a>
							<a href="#" class="list-group-item"><span class="badge" >28/05/2015</span>Quarta - Mega Festa</a>
							
						</div>
						</div>

                    </div>

                </div>
                <!-- end of Comentários -->
				
				<div class="col-lg-4 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-fw fa-envelope"></i>
                                <span><big>Mensagens</big></span>
                            </div>
                        </div>
                        <div class="panel-body">
						<div class="list-group">
							<a href="#" class="list-group-item">(foto) mensagem 1 <span class="label label-success pull-right" >New</span></a>
							<a href="#" class="list-group-item">(foto) mensagem 2 <span class="label label-success pull-right" >New</span></a>
							<a href="#" class="list-group-item">(foto) mensagem 3 <span class="label label-success pull-right" >New</span></a>
							<a href="#" class="list-group-item">(foto) mensagem 4 <span class="glyphicon glyphicon-ok pull-right" ></span></a>
							
						</div>
						</div>

                    </div>

                </div>
                <!-- end of mensagens -->
				

                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span><big>Últimos Lançamentos</big></span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">just now</span>
                                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">4 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">23 minutes ago</span>
                                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">46 minutes ago</span>
                                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has been added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">2 hours ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">yesterday</span>
                                        <i class="fa fa-fw fa-globe"></i> Saved the world
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">two days ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

				<div class="col-lg-4 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-fw fa-comment"></i>
                                <span><big>Comentários</big></span>
                            </div>
                        </div>
                        <div class="panel-body">
						<div class="list-group">
							<a href="#" class="list-group-item">(foto) mensagem 1 <span class="label label-success pull-right" >New</span></a>
							<a href="#" class="list-group-item">(foto) mensagem 2 <span class="label label-success pull-right" >New</span></a>
							<a href="#" class="list-group-item">(foto) mensagem 3 <span class="label label-success pull-right" >New</span></a>
							<a href="#" class="list-group-item">(foto) mensagem 4 <span class="glyphicon glyphicon-ok pull-right" ></span></a>
							
						</div>
						</div>

                    </div>

                </div>
                <!-- end of Comentários -->

                    <div class="col-lg-12 col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- AngularJs -->
    <script src="js/angular.js"></script>

    <!-- BootsTrap Angular UI -->
    <script src="js/bootstrap-angular-ui.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/datepicker.js"></script>

    <script src="js/angularjs/app.js"></script>

</body>

</html>